<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.guiying.module.main">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.guiying.module.ui.activity.main.NumberVoiceDetectionActivity"></activity>
        <activity android:name="com.guiying.module.ui.activity.main.NumberUserNameActivity" />
        <activity android:name="com.guiying.module.ui.activity.main.SplashActivity" />
        <activity android:name="com.guiying.module.ui.activity.main.VoiceDetectionActivity" />
        <activity android:name="com.guiying.module.ui.activity.main.UserNameActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="11c7f690976c31d7c026b623e20e6d12" />

        <activity android:name="com.guiying.module.ui.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mobclick" />
            </intent-filter>
        </activity>
    </application>

</manifest>